# MongoDB Configuration
MONGODB_URI=mongodb+srv://hhamidbscs22seecs_db_user:2h8NNp8ICWEdvlK8@cluster0.m6n4arb.mongodb.net/
DB_NAME=amr_db

# Model Configuration
MODEL_PATH=/app/models

# Security
SECRET_KEY=amrprediction@123

# Frontend API URL
VITE_API_URL=http://localhost:8000

# Optional: MongoDB Authentication (uncomment if needed)
# MONGO_USERNAME=admin
# MONGO_PASSWORD=password
# MONGODB_URI=mongodb://admin:password@mongodb:27017/


